<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Сегодня', today_report_path %></li>
    <li><%= link_to 'Отчеты', report_path %></li>
    <li><%= link_to 'Администрирование', admin_path %></li>
  </ul>

</nav>